#home-container{
    // display: flex;
    border: 2px solid green;
    margin-bottom: 50px;

    #feed-posts{
        display: inline-block;
        width: 60%;
        padding: 10px;
        // border: 2px solid green;
       vertical-align: top;
        min-height: 70vh;
        margin-bottom: 50px;
    }

    #user-friends{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: 95vh;
        // border: 2px solid green;
      


    }
}