#home-container {
  border: 2px solid green;
  margin-bottom: 50px;
}
#home-container #feed-posts {
  display: inline-block;
  width: 60%;
  padding: 10px;
  vertical-align: top;
  min-height: 70vh;
  margin-bottom: 50px;
}
#home-container #user-friends {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 10px;
  border-left: 1px solid lightgrey;
  height: 95vh;
}
